{{ define "head" }}
	{{ if .Site.Params.bgImg -}}
	<style>.bg-img {background-image: url('{{.Site.Params.bgImg}}');}</style>
	{{- else if .Site.Params.images -}}
		{{- range first 1 .Site.Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "main" }}
	{{- if (or .Site.Params.images .Site.Params.bgImg) }}
	<div class="bg-img"></div>
	{{- end }}
	<div id="spotlight" class="animated fadeIn">
		<div id="home-center">
			<h1 id="home-title">{{ .Site.Title }}</h1>
			{{- with .Site.Params.homeSubtitle }}
			<p id="home-subtitle">{{.}}</p>
			{{- end }}
			{{- with .Site.Params.social }}
			<div id="home-social">
				{{ partialCached "social-icons.html" . }}
			</div>
			{{- end }}
			<nav id="home-nav" class="site-nav">
				{{- range .Site.Menus.main }}
				<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
				{{- end }}
			</nav>
		</div>
		<div id="home-footer">
			<p>
				&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a>{{ .Site.Params.footerCopyright | safeHTML }}
				{{- with (not (in (.Site.Language.Get "disableKinds") "RSS")) }} &#183; <a href="{{ "posts/index.xml" | absURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a>{{ end }}
				<a href="/" >ja</a>/<a href="/en" >en</a>/<a href="/cn" >cn</a>
			</p>
		</div>
	</div>
<!--
[しずおか～～～! !]
　　　　　　　　　　　　　　　　　ノ～～～ヽ
　　　　　　　　　　　　　　　　ノ 　ﾟ∀ﾟ　　　ヽ<しずおか～～～! !
　　　　　　　　　　　　　　　ノ 　　　　　　　　ヽ
　　　　　　　　　　　　　　ノ 　　　　　　　　　　ヽ
　　　　　　　　　　　　　ノ　（ (__,,..∫　_) ）　　　ヽ
　　　　　　　　　　　　　　　.´,.:::;;:.. . . _ 　ヽ. 　　　∧＿∧
　　　　しずおかしずおか！>　　}ヾ:(; ﾟ∀ﾟ`)_ﾝ　! 　　(　 ﾟ∀ﾟ） 　＜しずおかしずおかしすおか―――――！
　　　　　　　　　　　　　　　}　　￣￣　..;彡| 　⊂　　　　つ
　　　　　　　　　　　　　　　l　　　 . ..::;:;;;彡.{　　,（＿＿つΣ===○
　　　　　　　　　　　　　　　}　 　. ...:::;:;:;;;彡| 　　し'
　　　　　　　　　　　　　　　i,　　　　. ..;:;;彡j
　　　　　　　　　　　　　　　 ﾄ　　 .. .:;:;;:;=:ｲ
　　　　　　　　　　　　　　　 ｀ ー──‐''"
[静岡（地震）]
静岡人
震度1　　 気付かない｡お茶が美味い
震度2　　 敏感な人なら気付く｡みかんが美味い
震度3　　 ほとんどの人が気付くが3分で忘れる｡干物が美味い
震度4　　 お～揺れとる揺れとると笑い､3分で忘れる｡黒はんぺんが美味い
震度5弱　 とりあえずテレビの速報を見るが､3日で忘れる｡こっこが美味い
震度5強 　コンビニの陳列が酷いことになるが､3日で忘れる｡桜海老が美味い
震度6弱 　ブロック塀は倒れないし､死者もでない｡イルカが美味い
震度6強　 待ち望んでいた東海地震に立ち会えた喜びを分かち合う｡やっぱりお茶だね｡
-->
{{ end }}
